.App {
  text-align: center;
  box-sizing: border-box;
}

.navbox{
  background-color: #b0c8f7;
}


.navbar {
  margin: auto;
  width: 60%;
   height: 60px;
  /* background-color: #89CFF3; */
   color: whitesmoke;
   display: flex;
   justify-content: space-evenly;
    align-items: center;
    padding:0 2% 0 2%;
     /* padding-left: 160px; */
 }

 a {
  text-decoration: none;

}

.navbar > logo{
  background-color: red;
 
}

.navbar > login{
  background-color: red;
 
}

.homepage {
  display: flex;
  gap: 10px;
  margin: auto;
}

.landing {
  background-color: #b0c8f7;
}

.landing img{
  /* width: 80%; */
  height: 640px;
}
